.field-select {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.field-select:focus-within::after {
    width: 100%;
    height: 2px;
    content: '';
    background: #916BEA;
    position: absolute;
    bottom: 0;
  }

.field-select + .field-select {
    margin-top: 1.4rem;
}

.field-select label {
    color: #9C98A6;
    font: 400 1.4rem Poppins;
    margin-top: 1.4rem;
}

.field-select .group-selected {
    width: 100%;
    display: flex;
    align-items: center;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: #F8F8FC;
    border: 1px solid #E6E6F0;
    outline: 0;
    padding: 4px;
} 

.field-select .group-selected div {
    display: flex;
    align-items: center;
    padding: 4px 2px;
    margin-right: 4px;
    background-color: #E6E6E6;
    border-radius: 0.4rem;
}

.field-select .group-selected div span {
    width: 92px;
    height: 2rem;
    font: 1.6rem Archivo;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.field-select .group-selected div img {
    cursor: pointer;
}

.field-select input {
    width: 100%;
    height: 5.6rem;
    border: none;
    background: transparent;
    outline: 0;
    font: 1.6rem Archivo;
}